.contact-us {
  width: 100%;
  display: flex;
  margin-bottom: 150px;
}

.contact-us__logo {
  margin: 33px 0 0 13.1vw;
}

.contact-us__logo img {
  width: 10.5vw;
}

.contact-us__burger {
  width: 37px;
  height: 30px;
  margin: 46px 0 0 6.15vw;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact-us__burger::before {
  content: "";
  position: absolute;
  top: 19px;
  width: 37px;
  left: 0;
  height: 1px;
  background-color: #ffffff;
}

.contact-us__burger::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 37px;
  height: 1px;
  background-color: #ffffff;
}

.contact-us__navigation {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 18.6vw;
}

.contact-us__elem-tel a,
.contact-us__elem-mail a {
  color: #ffffff;
  text-decoration: none;

  @include font-ptmono;
  letter-spacing: 0.8px;
  justify-self: center;
}

.contact-us__navigation li {
  position: relative;
}

.contact-us__elem-tel {
  margin-left: 3.9vw;
}

.contact-us__navigation svg {
  vertical-align: middle;
}

.contact-us__elem-mail svg {
  margin-right: 11px;
}

.contact-us__elem-tel svg {
  margin-right: 5px;
}

.contact-us__mail {
  width: 9.38vw;
}

.contact-us__tel {
  width: 18vw;
}

.contact-us__elem-btn {
  width: 180px;
  padding: 14px 10px;
  margin-left: 38px;
  margin-right: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  @include font-roboto-cond-bold;
  text-align: center;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  justify-self: center;
}

@media (max-width: 1399px) and (min-width: 1024px) {
  .contact-us__logo {
    margin-left: 50px;
  }

  .contact-us__logo img {
    width: 18.5vw;
  }

  .contact-us__navigation {
    margin: 0;
    margin-top: 27px;
    z-index: 100;
  }

  .contact-us__mail {
    width: 9.38vw;
  }

  .contact-us__tel {
    width: 18vw;
  }
}

@media (max-width: $tablet-width) {
  .contact-us {
    margin-bottom: 93px;
  }

  .contact-us__logo img {
    width: 202px;
  }

  .contact-us__logo {
    margin: 20px 0 0 26px;
  }

  .contact-us__burger {
    margin: 30px 0 0 47vw;
  }

  .contact-us__navigation {
    margin-top: 32px;
    margin-left: 0;
    padding: 0;
  }

  .contact-us__navigation span {
    font-size: 0;
  }

  .contact-us__elem-mail {
    margin-left: 26%;
  }

  .contact-us__elem-tel {
    margin-left: 4.4vw;
  }

  .contact-us__elem-mail svg {
    margin-right: 0;
    width: 26px;
    height: 19px;
  }

  .contact-us__elem-tel svg {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }

  .contact-us__navigation .contact-us__elem-btn {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .contact-us__logo img {
    width: 38px;
    height: 38px;
  }

  .contact-us__logo {
    margin: 17px 0 0 17px;
  }

  .contact-us__burger {
    margin-top: 20px;
    margin-left: 35.3%;
  }

  .contact-us__navigation {
    margin-left: 0;
    margin-top: 22px;
  }

  .contact-us__elem-mail {
    margin-left: 28%;
  }

  .contact-us__elem-tel {
    margin-left: 27%;
  }
}
