.copyright {
  position: relative;
  display: flex;
  width: 100%;
}

.copyright::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(98, 105, 98, 0.3);
}

.copyright__year {
  position: absolute;
  top: 58px;
  left: 477px;
  font-family: "PT Mono", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}

.copyright ul {
  @include reset();
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding: 70px 14px 14px 38px;
  margin: 0 auto;
  list-style: none;
}

.copyright__text,
.copyright a {
  font-family: "PT Mono", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
}

.copyright a {
  opacity: 1;
}

.copyright a:hover {
  opacity: 0.7;
}

.copyright__text--privacy {
  margin-left: 31.2%;
}

.copyright__text--dev {
  margin-left: 28.2%;
}

@media (max-width: $tablet-width) {
  .copyright__container {
    position: relative;
    padding: 21px 25px 24px;
  }

  .copyright__year {
    top: -359px;
    left: 328px;
  }

  .copyright ul {
    padding-top: 24px;
    padding-left: 28px;
  }

  .copyright__text--rights {
    display: none;
  }

  .copyright__text--privacy {
    margin: 0;
  }

  .copyright__text--dev {
    margin-left: 42.4%;
  }
}

@media (max-width: $mobile-width) {
  .copyright__container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .copyright__year {
    display: none;
  }

  .copyright ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
  }

  .copyright__text--privacy {
    margin-bottom: 21px;
  }

  .copyright__text--dev {
    margin-left: 0;
  }
}
