.motherboards {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top: 76px;
}

.motherboards__item {
  margin: 0 0 293px 13%;
}

.motherboards__item h2 {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.motherboards__text {
  position: relative;
  width: 75%;
  margin: 0 0 63px 12%;

  @include font-ptmono;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0;
  text-transform: lowercase;
  color: #ffffff;
}

.motherboards__text::before {
  content: "";
  position: absolute;
  width: 10.5%;
  height: 2px;
  top: 18px;
  left: -96px;
  background: #ffffff;
}

.motherboards__btn {
  margin-left: 11.9%;
  padding: 17px 43px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 5px;
}

.motherboards__btn--mobile {
  display: none;
}

.motherboards__scroll {
  position: absolute;
  bottom: 128px;
  left: 215px;
  width: 93px;
  margin: 0;

  @include font-ptmono;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
}

.motherboards__img {
  position: absolute;
  top: 19px;
  left: 1039px;
  width: 705px;
  height: 515px;

  &::after {
    content: "";
    position: absolute;
    top: -152px;
    left: -116px;
    width: 777px;
    height: 704px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: 1399px) and (min-width: 1024px) {
  h2 {
    width: 320px;
    margin: -1px 0 30px 88px;
    font-size: 60px;
    line-height: 70px;
  }

  .motherboards {
    overflow: visible;
  }

  .motherboards__text {
    width: 50%;
    margin: 0 0 72px 139px;
    font-size: 18px;
    line-height: 28px;
  }

  .motherboards__img {
    top: -76px;
    left: auto;
    right: 0;
    width: 350px;
    height: 290px;
  }

  .motherboards__img::after {
    top: -207px;
    left: auto;
    right: 0;
    width: 414px;
    height: 480px;
    background-size: 515px 550px;
  }

  .motherboards__img img {
    position: absolute;
    left: auto;
    right: 0;
    width: 300px;
    top: -17px;
    height: 250px;
  }
}

@media (max-width: $tablet-width) {
  .motherboards {
    overflow: visible;
  }

  .motherboards__item {
    margin: 0;
    margin-bottom: 181px;
  }

  .motherboards__item h2 {
    width: 320px;
    margin: -1px 0 30px 88px;
    font-size: 60px;
    line-height: 70px;
  }

  .motherboards__text {
    width: 49%;
    margin: 0 0 72px 139px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .motherboards__text::before {
    width: 33px;
    top: 16px;
    left: -48px;
  }

  .motherboards__btn {
    width: 42%;
    margin-left: 18.7%;
    padding: 17px 29px 17px 28px;
    letter-spacing: 0.06em;
  }

  .motherboards__scroll {
    display: none;
  }

  .motherboards__img {
    top: -76px;
    left: auto;
    right: 0;
    width: 260px;
    height: 340px;
  }

  .motherboards__img::after {
    top: -207px;
    left: -154px;
    width: 414px;
    height: 650px;
    background-size: 615px 650px;
  }

  .motherboards__img img {
    width: 260px;
    height: 340px;
  }
}

@media (max-width: $mobile-width) {
  .motherboards {
    display: flex;
  }

  .motherboards__item {
    margin: 0;
    padding: 0;
    max-width: 320px;
    z-index: 1;
  }

  .motherboards__item h2 {
    width: 65%;
    margin: 108px 0 0 15px;
    padding: 0;
    font-size: 40px;
    line-height: 47px;
    z-index: 100;
  }

  .motherboards__text {
    width: 70%;
    margin: 26px 0 40px 66px;
    font-size: 16px;
    line-height: 25px;
  }

  .motherboards__btn {
    display: none;
  }

  .motherboards__btn--mobile {
    display: block;
    width: 82%;
    margin-left: 17px;
    margin-bottom: 70px;
    padding: 17px 10px 18px 13px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #00b2ff;
    border: 1px solid #00b2ff;
    border-radius: 5px;
  }

  .motherboards__img {
    top: -90px;
    left: auto;
    right: 0;
    width: 98%;
    height: 300px;
    order: 1;
  }

  .motherboards__img img {
    position: absolute;
    top: 1%;
    left: auto;
    right: 0;
    width: 293px;
    height: 220px;
  }

  .motherboards__img::after {
    top: -158px;
    left: auto;
    right: 0;
    width: 247px;
    height: 565px;
    background-size: 585px 565px;
  }
}
