.page-header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #1b2d37;
  background-image: url("../img/bg-stars.png");
}

.page-header__logo-image {
  margin: 33px 0 0 253px;
}

.page-header__navigation {
  min-width: 620px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 29px 256px 0 auto;
}

.page-header__navigation a {
  width: 194px;
  color: #ffffff;
  text-decoration: none;
  @include font-ptmono;
  letter-spacing: 0.8px;
  justify-self: center;
}

.page-header__navigation li {
  position: relative;
}

.page-geader__mail::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 45px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 230px 150px;
  fill: #00B2FF;
} 

.page-header__navigation button {
  width: 180px;
  margin-left: -74px;
  padding: 14px;
  @include font-roboto-cond-bold;
  text-align: center;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
