.page-main {
  width: 100%;
}

.page-main__container {
  max-width: 1170px;
  height: 1000px;
  margin: 0 auto;
  background-color: red;
}

.a11 {
  width: 100%;
  height: 500px;
  background-color: white;
}

.a12 {
  width: 1920px;
  height: 500px;
  background-color: black;
}
