.page-header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("../img/bg-stars.png") no-repeat #1b2d37;
}

h2 {
  width: 43%;
  margin: 0 0 27px 13%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__text {
  position: relative;
  width: 35%;
  margin: 0 0 43px 18.1%;

  @include font-ptmono;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #ffffff;
}

.page-header__text::before {
  content: "";
  position: absolute;
  width: 9.9%;
  height: 2px;
  top: 17px;
  left: -95px;
  background: #ffffff;
}

.page-header__btn {
  width: 18.1%;
  margin: 0 0 275px 18.1%;
  padding: 17px 28px 17px 28px;

  @include font-roboto-cond-bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.06em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 5px;
}

.page-header__scroll {
  position: absolute;
  bottom: -213px;
  left: 215px;
  width: 93px;
  margin: 0;

  @include font-ptmono;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
}

/*.page-main__container::after {
  content: "";
  width: 100%;
  height: 881px;
  position: absolute;
  background-image: url("../img/triangles.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  left: 0;
}

.page-main__container::before {
  content: "";
  width: 36.7%;
  height: 515px;
  position: absolute;
  background-image: url("../img/boardview@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 260px;
  left: 1038px;
  z-index: 1;
}*/
