$mobile-width: 767px;
$tablet-width: 1023px;

@mixin reset() {
  padding: 0;
  margin: 0;
}

@mixin font-roboto-cond-bold {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-ptmono {
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}
